.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 24px 100px;
    border-bottom:solid #cbecfd;
    border-width: 1px;
    
    
  }
.button1 button{
 
   width: 134px;
   height: 40px;
   padding:12px, 24px, 12px, 24px;
    border-radius: 10px;
    gap: 10px;
    background-color: #00a9ff;
   border: none;
   outline: none;
    color: aliceblue;
}

/* Mobile View */
@media (min-width: 320px) and (max-width: 650px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
      padding:16px 0px;
      /* background-color: #E9F6FD;  */
  }

  .header img {
      margin-bottom: 10px;
  }

  .header button {
      align-self: flex-end;
  }
}

/* Tablet View */
@media (min-width: 601px) and (max-width: 1024px) {
  .header {
      padding: 15px 30px;
  }

  .header img {
      max-height: 60px;
  }

  .header button {
      padding: 12px 24px;
  }
}