.privacypolicy{
    font-family: 'work_sans';
}
.privacy-sub-one{
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 18px;
    padding-left: 80px;
    gap: 32px;
    display: grid
}
.privacy-sub-one p{
    color:#777777
}

.privacy-sub-one p button{
    background-color: white;
    border: none;
    color: #00a9ff;
}

.privacy-sub-one{
    font-family: 'roboto';
}
#home{
    text-decoration: none;
    color: #00a9ff;
}
.privacy-sub-one span{
    color:#00a9ff;
}

.privacy-table{
    padding: 20px 80px 75px;
} 

.privacy-table p{
    color: #777777;
}
.privacy-table-sec1{
    display: grid;
    grid-auto-flow: column;
}
.privacy-table-sec2{
    display: grid;
    grid-auto-flow: column;
}
.privacy-table-sec3{
    display: grid;
    grid-auto-flow: column;
}
.privacy-table-item1{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 0px 20px 15px 0px;
    display: grid;
    gap: 24px;
}
.privacy-table-item1 h3, .privacy-table-item2 h3,.privacy-table-item3 h3,.privacy-table-item4 h3,.privacy-table-item5 h3,.privacy-table-item6 h3{
    font-family: 'roboto';
}

.privacy-table-item2{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 0px 0px 15px 20px;
    display: grid;
    gap: 24px;
}
.privacy-table-item3{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 20px 15px 0px;
    display: grid;
    gap: 24px;
}
.privacy-table-item4{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 0px 15px 20px;
    display: grid;
    gap: 24px;
}
.privacy-table-item5{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding: 24px 7px 24px 24px;
    margin: 15px 20px 0px 0px;
    display: grid;
    gap: 24px;
}
.privacy-table-item6{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 0px 0px 20px;
    display: grid;
    gap: 24px;
}

@media (min-width: 320px) and (max-width: 650px) {
    .privacy-table-sec1, .privacy-table-sec2, .privacy-table-sec3{
        grid-auto-flow: row;
    }

    .privacy-table{
        width: 312px;
        height: 1234px;
        display: contents;
    }

    .privacy-sub-one{
        padding: 40px 32px 18px 33px;
    }

    .privacy-table-item1, .privacy-table-item2, .privacy-table-item3, .privacy-table-item4, .privacy-table-item5, .privacy-table-item6{
        margin: 15px 30px;
    }
}



