.footer-top{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 64px 80px;
    gap: 56px;
    border-top: solid #00a9ff;
    border-width: 1px;
  }

.footer-top p{
  max-width: 606px;
  text-align: justify;
  color: #777777;
  font-size: 14px;
}
.footer-top span{
  color: #00a9ff;
}
.footer-details{
  display: grid;
}
.footer-phone{
  display: grid;
  grid-template-columns: 28px 291px;
}

.footer-mail{
  display: grid;
  grid-template-columns: 28px 291px;
}
.footer-map{
  display: grid;
  grid-template-columns: 28px 302px;
}
.footer-bottom{
  background-color: #00a9ff;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding:24px 80px;
  
}
.footer-copyright{
  color:#cbedff;
}

.footer-navigate li{
  display: inline;
  list-style: none;
  color:#ffffff
}
.footer-navigate ul{
  display: grid;
  grid-auto-flow: column;
  gap:16px; 
}
#terms-link,#privacy-link{
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 650px) {
  .footer-top{
   grid-auto-flow: row;
   padding:24px;
   gap:28px;
  }

  .footer-details{
    gap:16px;
  }

  .footer-bottom{
    grid-auto-flow: row;
    gap:16px;
    padding: 16px 24px;
  }

  .footer-navigate ul{
    display: flex;
    justify-content: space-between;
  }

  .footer-top p {
    width:unset;
  }
 
}

@media (min-width: 651px) and (max-width: 1024px) {
   .footer-top{
   grid-auto-flow: row;
   padding:24px;
   gap:28px;
  }

  .footer-details{
    gap:16px;
    /* grid-template-columns: 27% 27% 46%; */
  }

  .footer-bottom{
    grid-auto-flow: row;
    gap:16px;
    padding: 16px 24px;
  }

  .footer-navigate ul{
    display: flex;
    justify-content: space-between;
  }

  .footer-top p {
    width:unset;
  }
}