.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 10px;

}

.img1{ 
  background-image: url(../public//img.svg);
  background-size: cover;
  /* position: absolute;  */
  /* top: 0; 
  left: 0; 
  width: 1440px; 
  height: 952px;  */
  /* z-index: -1;
  background-image: url(/_next/static/media/img.34d0cf4c.svg);
    background-size: cover; */
    /* position: absolute; */
    padding-bottom: 200px;
    width: 100%;
    background-position: center;
    position: relative;
    overflow: hidden;

} 


 
.imagecontent h1 {
  width: 610px;
  font-size: 64px;
  font-weight: 700;
  padding: 30px 0 0 0;
}
.imagecontent-welcome p {
  font-family: sans-serif;
  font-weight: 500;
  color: #00a9ff;
  size: 14px;
  line-height: 16.42px;
  text-decoration: overline underline; 
  /* border-top: solid #89CFF3 1px; 
  border-bottom: solid #89CFF3 1px;
  padding: 2px;*/
} 
.imagecontent{
  display: grid;
  row-gap: 10px;
  row-gap: 24px;
  padding: 50px 0 0 100px;

}
.dot {
  color: #00a9ff; 
}


.imagecontent-para{
  display: grid;
  color: #777777;
  max-width: 25rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  row-gap: 8px;
}

.buttontwo{
  color:#00a9ff;
  /* display: grid;
  grid-template-columns: 1fr 8fr; */
  display:flex;
  gap:10px;
}

.secondphase{
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: 1fr 8fr; */
  align-items: center;
  padding: 75px 40px;
  column-gap: 45px;
}
.secondphase-para {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px ;
  
}
.secondphase-subpara-one {
  display: grid;
  row-gap: 20px;
}
.secondphase-subpara-one p{
  color: #00a9ff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: overline underline; 
  /* border-top: solid 1px;
  border-bottom: solid 1px; */
  /* position: absolute;  */
}



.secondphase-subpara-two{
  display: grid;
  row-gap: 20px;
  color: #777777;
  font-size: 14px;
}

.secondphase-subpara-two p{
  color: #777777;
  max-width: 38rem
}

.secondphase-subpara-one h1{
  max-width: 28rem;
}
.dot-two{
  color:#00a9ff;
}
.flowdiagram{
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  padding: 50px 57px;
  gap:20px;
}
.flowbox-one{
  display: grid;
  place-content: center;
  /* max-width: 400px;
  max-height: 586px; */
  padding: 40px;
  border-radius: 10px;
  border: solid #00a9ff;
  gap: 16px;
  margin-top: 68px;
}

.flowbox-two{
  display: grid;
  place-content: center;
  /* max-width: 400px;
  max-height: 496px; */
  padding: 40px;
  border-radius: 10px;
  border: solid #00a9ff;
  gap: 16px;
  align-self: end;

}

.flowbox-three{
  display: grid;
  place-content: center;
  /* max-width: 400px;
  max-height: 586px; */
  padding: 40px;
  border-radius: 10px;
  border: solid #00a9ff;
  gap: 16px;
  margin-top: 68px;
}

.thirdphase{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    column-gap: 40px;
    background-color: #ecfaff;
}

.thirdphase-para{
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  max-width: 552px;
  /* max-height: 220px; */
}

.thirdphase-para p:nth-child(1){
  color:#00a9ff;
  gap: 10px;
  text-decoration: overline underline; 
  /* border-top: solid 1px;
  border-bottom: solid 1px; */
  /* position: absolute; */

}

.thirdphase-para p:nth-child(3){
  color:#777777;
  font-weight: 500;
  font-size: 14px;
}


.thirdphase-para h1{
  max-width:552px;
  /* max-height: 94px; */
}

.questionmark,.thirdphase-subword{
  color: #00a9ff;
}

.thirdphase-form{
  display: grid;
  background-color: white;
  width: 688px;
  height: 360px;
  padding: 32px;
  gap: 32px;
  border-radius: 16px;
  border: 1px ;
  border: solid #CBECFD
}

.subform-one{
  display: grid;
  width: 624px;
  height: 216px;
  gap:24px;
}

.subform-item1{
  display: grid;
  grid-template-columns: auto auto;
  max-width: 624px;
  max-height: 44px;
}
.subform-item1 div{
  display: flex;
  width: 300px;
  height:44px;
  border-radius: 10px;
  color: #dddddd;
  border: solid #dddddd;
  padding:10px
}

.subform-item1 img{
  width: 20px;
  height: 20px;
}

.subform-item1 input{
  align-items: center;
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 0px 0px 0px 11px;
}

.subform-item2{
  display: grid;
  grid-template-columns: auto auto;
  max-width: 624px;
  max-height: 44px;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.subform-item2 div{
  display: flex;
  width: 300px;
  height:44px;
  border-radius: 10px;
  border: solid #dddddd;
  color: #dddddd;
  padding: 10px;
}

.subform-item2 img{
  width: 20px;
  height: 20px;
}

.subform-item2 input{
  align-items: center;
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 0px 0px 0px 11px;
}
.subform-item3{
  width: 613px;
  height: 80px;
  color: #dddddd;
  border-radius: 10px;
  border: solid #DDDDDD;
  padding: 14px 0px 0px 14px;
}
.subform-item3 textarea{
  border: none;
  outline: none;
  background-color: #ffffff;
  width: 590px;
  height: 58px;
   
}

.subform-two{
  /* border-radius: 10px;
  border: solid #00a9ff; */
  cursor: pointer;
  margin-top: 20px;
  
}
.subform-two:hover{
  opacity:0.6;
}

.subform-two input{
    width: 613px;
    height: 43px;
    border: solid #00a9ff;
    color: #00a9ff;
    outline: none;
    border-radius: 10px;
    background-color: #ffffff;
  
}

.flowone-para{
 display: grid;
 gap: 8px;
}

.flow-empty{
    border: solid #00a9ff;
    height: 71px;
    width: -webkit-fill-available;
    margin: 0px 192px;
    border-bottom: none;
    border-radius: 5px;
    position: absolute;   
}

.flow-empty-two{
    width: 0px;
    height: 137px;
    border: solid #00a9ff 2px;
    position: absolute;
    margin: 0px 50%;
}

.flowtwo-para{
  display: grid;
  gap: 8px;
}

.flowthree-para{
  display: grid;
  gap: 8px;
}

.fourthphase{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 40px 47px 0px 49px;
  grid-column-gap: 182px;
  column-gap: 182px;
}

.accordion {
  max-width: 590px;
 
}

.accordion-item {
  max-width:688px;
  margin:20px;
  padding:10px;
  border-radius:8px;
  border: solid #cbecfd ;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  list-style: none;
}

.accordion-title {
  font-size: 16px;
}

.accordion-icon {
  width: 20px;
  height: 20px;
}

.accordion-content {
  padding: 10px;
  color: #777777;
  display: none;
}

details[open] .accordion-content {
  display: block;
}

details[open] .accordion-header {
  background-color: #ffffff;
}

.accordion-header::marker {
  display: none;
}
.fourth-sub-two{
    display: grid;
    padding-top: 27px;
    gap: 24px; 
    text-align: center;
    justify-content: center;
    place-items: center;
} 

.fourth-sub-two img{
  width: 360px;
  height:536px;
}

.fourth-sub-two h5{
  color: #00a9ff;
  text-decoration: overline underline;
  /* display: flex;
  justify-content: center; */
  /* border-top: solid 1px;
  border-bottom: solid 1px; */
  /* position: absolute; */
}

/* .fourth-sub-two h1{
  width:464px; 
} */

.fourth-sub-two span{
  color: #00a9ff;
}

.fourth-sub-two p{ 
  text-align: center;
  width: 494px;
  color: #777777;
}

/* Mobile view */
 
@media (min-width: 320px) and (max-width: 650px) {
   .img1-mob{
    background-image: url(/_next/static/media/mobile-family.f4ab96b2.svg);
    height: 381px;
    top: -86px;
    overflow: hidden;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  } 
  .img1{
    background-image: unset;
    padding: unset;
  }

  .thirdphase-para h1{
    max-height: unset;
  }

  .flow-empty-two{
    display: none;
  }

  .imagecontent h1{
    width:unset;
    font-size: 32px;
  }
  
  .imagecontent{
    padding: 49px 42px;
    gap:16px;
    background: #E9F6FD; 
    
  }

  .flow-empty{
    display: none;
  }

  .flowbox-three, .flowbox-two, .flexbox-one{
    margin-top: unset;
    margin: unset;
  }

  .buttontwo{
    display: flex;
    gap:10px;
  }
  
  
  .secondphase{
    grid-auto-flow: row;
    gap: 32px;
    padding: 35px 40px 0px;
  }

  .secondphase img{
    width:312px;
    height:340px;

  }

  .secondphase-para{
    gap:24px;
  }
  
  .flowdiagram{
    grid-auto-flow: row;
    gap:unset;
    padding-top: 0px;
    
    /* margin: 0px 24px;
    width: 375px; */

  }

  .flexbox-one, .flexbox-two, .flexbox-three{
    width: 425px;
    

  }
  
  .thirdphase{
    grid-auto-flow: row;
    row-gap: 61px;
    padding: 50px 34px; 
    /* justify-content: unset; */
  }

  /* .thirdphase-para{
    gap:20px;
  } */

  .vertical-empty{
    width: 0px;
    height: 44px;
    border: solid #00a9ff;
    position: unset;
    margin: 0px 50%;
  }

  .thirdphase-form{
    width:unset;
    height:410px; 
    padding: 20px;
    margin-top: 24px;
  }
  
  .subform-item1, .subform-item2{
    display: contents;
  }

  .subform-item1 div, .subform-item2 div{
    width:unset;
    height:38px;
  }

  
  .subform-one{
    height:328px;
    gap:0;
    width: auto;
  }

   .subform-item3 textarea {
    width: -webkit-fill-available ;
    height: 61px;
  }
  .subform-item3 {
    width:auto;
    height:80px;
  }
  .subform-two input , .subform-two{
    width: -webkit-fill-available;
    height:40px;
  } 


  .subform-two{
    margin: 0px;
    border: none;
  }

  .fourthphase{
    grid-auto-flow: row;
    padding: 18px 18px 0px;
  }
  
  .accordion{
    width:unset;
    /* height:516px; */
    gap:24px;
  }

  .accordion-item{
    width:unset;
  }
  .fourth-sub-two{
    padding-top: 92px;
    
  }
  .fourth-sub-two img{
    width:312px;
    height: 464px;
    place-items: center;
    
  }

  .fourth-sub-two p{
    width: auto;
    /*height: 48px; */
    padding: 18px;
  }
}

/* Tab view */

@media (min-width: 651px) and (max-width: 1024px) {
  
  .img1{
    background-image: url(/_next/static/media/img.34d0cf4c.svg);
    background-size: cover;
    background-position-x: right;
    height: 150vh;
  }
  .imagecontent{
    display: grid;
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-row-gap: 24px;
    row-gap: 24px;
    padding: 31px 0 0 31px;
  }
  .imagecontent h1{
    font-size: 20px;
    width: 357px;
  }

  .imagecontent-para{
    max-width: 19rem;
    row-gap: 7px;
  }
  .secondphase{
    grid-auto-flow: row;
    gap: 32px;
    padding: 35px 40px 0px;
  }

  .thirdphase{
    grid-auto-flow: row;
    row-gap: 61px;
    padding: 50px 34px; 
    /* justify-content: unset; */
  }

  .flow-empty, .flow-empty-two{
    display: none;
  }

  .accordion{
    max-width:unset;
    width:unset;
    /* height:516px; */
    gap:24px;
  }
  
  .accordion-item {
    width:unset;
    max-width: 969px;

  }
  .fourthphase{
    grid-auto-flow: row;
    padding: 18px 18px 0px;
  }

  .flowdiagram{
    grid-auto-flow: row;
    gap:15px;
  }

  .flexbox-one{
    margin-right: 302px;
  }

  .flexbox-two{
    margin: 0px 151px;
  }

  .flexbox-three{
    margin: 0px 0px 0px 302px;
  }
} 



