.termspage{
    font-family: 'work_sans';
}
.terms-sub-one{
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 18px;
    padding-left: 80px;
    gap: 32px;
    display: grid
}

.terms-sub-one p button{
    background-color: white;
    border: none;
    color: #00a9ff;
}

.terms-table h3{
    font-family: 'roboto'
}

.terms-table p{
    color: #777777;
}

#terms-home{
    text-decoration: none;
    color: #00a9ff;
}
.terms-sub-one span{
    color:#00a9ff;
}
.terms-table{
    padding: 20px 80px 75px;
} 
.terms-table-sec1{
    display: grid;
    grid-auto-flow: column; 
    grid-column: 50% 50%;
    /* grid-template-columns: 50% 50%; */
}
.terms-table-sec2{
    display: grid;
    grid-auto-flow: column;
}
.terms-table-sec3{
    display: grid;
    grid-auto-flow: column;
}
.terms-table-sec4{
    display: grid;
    grid-auto-flow: column;
}


.terms-table-item1{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 0px 20px 15px 0px;
    display: grid;
    gap: 24px;
}
.terms-table-item2{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    /* width: 606px; */
    margin: 0px 0px 15px 22px;
    display: grid;
    gap: 24px;
}
.terms-table-item3{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 20px 15px 0px;
    display: grid;
    gap: 24px;
}
.terms-table-item4{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 0px 15px 20px;
    display: grid;
    gap: 24px;
}
.terms-table-item5{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 20px 15px 0px;
    display: grid;
    gap: 24px;
}
.terms-table-item6{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 0px 15px 20px;
    display: grid;
    gap: 24px;
}
.terms-table-item7{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding: 24px 7px 24px 24px;
    margin: 15px 20px 0px 0px;
    display: grid;
    gap: 24px;
}
.terms-table-item8{
    border: solid #00a9ff 1px;
    border-radius: 10px;
    padding:24px;
    margin: 15px 0px 0px 20px;
    display: grid;
    gap: 24px;
}


@media (min-width: 320px) and (max-width: 650px) {
    .terms-table-sec1, .terms-table-sec2, .terms-table-sec3, .terms-table-sec4{
        grid-auto-flow: row;
    }

    .terms-table{
        width: 312px;
        height: 1234px;
        display: contents;
    }

    .terms-sub-one{
        padding: 40px 32px 18px 33px;
    }

    .terms-table-sec1{
        display: grid;
       
    }

    .terms-table-item1, .terms-table-item2, .terms-table-item3, .terms-table-item4, .terms-table-item5, .terms-table-item6, .terms-table-item7, .terms-table-item8{
        margin: 15px 30px;
    }

    .terms-table-item2{
        width: unset;
    }
}